{# templates/utilisateur/inscription.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Inscription</h2>
    {{ form_start(InscriptionForm) }}
    {{ form_row(InscriptionForm.email) }}
    {{ form_row(InscriptionForm.pseudo) }}
    {{ form_row(InscriptionForm.age) }}
    {{ form_end(InscriptionForm) }}
{% endblock %}
