{# templates/utilisateur/inscription.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h2>Inscription</h2>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.pseudo) }}
    {{ form_row(form.age) }}
    {{ form_end(form) }}
{% endblock %}
